.animated-card {
    animation: popoverAnimation 0.5s ease-out;
  }
  
  @keyframes popoverAnimation {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .icon-wrapper {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 12px;
  }
  
  .icon {
    color: #fff;
  }
  